*{
  box-sizing: border-box;
  font-family: Courier;

}
body {
  font-size: 16px;
  color: black;
}

/** HEADER **/
.navbar {
  background-color: lightgrey;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  font-size: 1em;
  color: black;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: bold;
}

h1 {
  font-weight: bold; 
}
h2{
  font-size: 1em;
  text-align: center;
  margin: auto;
  font-weight: bold;
  padding-bottom: 10px;
}

#box {
  background-color: lightgrey;
  margin: 15px;
  }


